* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
form {
  width: 50%;
  border: solid;
  border-radius: 20px;
  padding: 10px;
}
aside {
  padding: 10px;
}
form label {
  display: block;
  margin-bottom: 5px;
}
input {
  width: 80%;
  padding: 8px;
  border-radius: 20px;
}
form [type="radio"]{
    width: 10%;
}
form button{
    width: 50%;
    padding: 8px;
    border-radius: 20px;
}
